<div class="text-center py-5">
  <h1 class="display-6">500 - Server Error</h1>
  <p>Something went wrong.</p>
  <pre class="text-start bg-light p-3 rounded overflow-auto"><%= error && error.stack %></pre>
  <a class="btn btn-primary" href="/">Go Home</a>
</div>
